$my-primary:  #FCFCFF;
$my-primary-rgb: rgb(252, 252, 255);
$my-secondary:#07090F;
$my-primary-rgb: rgb(7, 9, 15);

$my-gray:	#707070;
$my-green:	#A6D3A0;
$my-blue: 	#6DB1BF;
$my-yellow: #D5A021;
$low-opacity: 0.2