.GameModeComponent {


	&[playingmode="single-player"]{
		.GameModeContainer { 
			.detectorCircle{
				left: 0px;
			}
			.gameMode[modetype="singlePlayer"]{
				background-color: var(--my-primary);
			}
		}
	}

	&[playingmode="multi-player"]{
		.GameModeContainer { 
			.detectorCircle{
				left: 51%;
			}
			.gameMode[modetype="multiPlayer"]{
				background-color: var(--my-primary);
			}
		}
	}

	.GameModeContainer {
		width: 85%;
		height: 100%;

		border: 1px solid var(--my-secondary);
		border-radius: 100000px;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: space-between;
		margin: auto;
		cursor: pointer;
		
		*{
			transition: 0.5s ease-in-out;
		}

		.gameMode {
			height: 100%;
			aspect-ratio: 1;
			display: inline-block;

			mask-position: center !important;
			mask-repeat: no-repeat !important;
			mask-size: 60% !important;
			background-color: var(--my-secondary);
			z-index: 1;
			
			&[modetype="singlePlayer"] {
				-webkit-mask-image: url("../public/imgs/single-user-icon.svg");
				mask-image: url("../public/imgs/single-user-icon.svg");
			}

			&[modetype="multiPlayer"] {
				-webkit-mask-image: url("../public/imgs/multi-user-icon.svg");
				mask-image: url("../public/imgs/multi-user-icon.svg");
			}
		}

		.detectorCircle {
			position: absolute;
			background: var(--my-secondary);
			height: 100%;
			aspect-ratio: 1;
			border-radius: 100%;
			z-index: 0;
		}

	}
}