.light{
  $my-primary:  #FCFCFF;
  $my-secondary:#07090F;
}

.dark{
  $my-primary:  #07090F;
  $my-secondary:#FCFCFF;
}

.container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 40em;
  aspect-ratio: 1;

  display: grid;
  grid-template-columns: 87% 8%;
  grid-template-rows: 87% 8%;
  gap: 5%;
}

