.idField {

	display: flex;
	justify-items: center;
	align-items: center;

	position: relative;

	transition: 0.25s ease-in-out;

	&[idtype="O"] {
		color: var(--my-blue) !important;
		.borderContainer > .idValueContainer > .idValue {
			&::selection{
				background-color: rgba($color: var(--my-blue), $alpha: var(--low-opacity));
			}
			&::-moz-selection{
				background-color: rgba($color: var(--my-blue), $alpha: var(--low-opacity));
			}
			&::-webkit-input-placeholder{
				color: var(--my-blue) !important;
				opacity: 0.5;
			}
			&::-moz-placeholder{
				color: var(--my-blue) !important;
				opacity: 0.5;
			}
		}
	}
	
	&[idtype="X"] {
		color: var(--my-green) !important;
		.borderContainer > .idValueContainer > .idValue {
			&::selection{
				background-color: rgba($color: var(--my-green), $alpha: var(--low-opacity));
			}
			&::-moz-selection{
				background-color: rgba($color: var(--my-green), $alpha: var(--low-opacity));
			}
			&::-webkit-input-placeholder{
				color: var(--my-green) !important;
				opacity: 0.5;
			}
			&::-moz-placeholder{
				color: var(--my-green) !important;
				opacity: 0.5;
			}
		}
	}

	&[playingmode="singlePlayer"]{
		opacity: 0.4;
		pointer-events: none;
	}

	.hashSymbol {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		z-index: 2;

		transform: scaleY(0.9) translateX(0.05em) translateY(0.05em);

		height: 70%;
		width: min-content;
		background-color: var(--my-primary);

		font-size: 2em;
		font-weight: 700;
	}

	.borderContainer {
		display: flex;
		align-items: center;

		width: 90%;
		height: 100%;

		margin-left: 10%;

		border: 0.05em solid var(--my-secondary);

		padding: 0% 5% 0% 12%;

		.idValueContainer {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			height: 80%;

			.idValue {
				// font-family: "Lato";
				text-align: center;
				width: 100%;
				height: 80%;
				font-size: 1.7em;
				font-weight: 700;
				border: none;
				outline: none;
				background-color: transparent;
				color: inherit;
				user-select: text;
				
			}

		}

		.idNameContainer {
			position: absolute;
			transform: translate(-0.5em, 1.5em);

			width: 80%;

			display: flex;
			justify-content: flex-end;
			align-items: center;

			.idNameValue {
				width: fit-content;

				background-color: var(--my-primary);
				padding: 0% 0.3em;

				font-size: 0.8em;
			}
		}
	}

}


