.themeController{
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

	&[theme="light"]{
		background-image: url('../public/imgs/moon-icon.svg');
	}

	&[theme="dark"]{
		background-image: url('../public/imgs/sun-icon.svg');
	}

}